<mat-nav-list>
  @for (stock of stocks; track stock.symbol) {
    <mat-list-item [activated]="activated(stock.symbol)">
      <span class="flex justify-between items-center group">
        <a [routerLink]="['/watchlist/' + stock.symbol]">{{ stock.symbol }}</a>
        <span class="hidden justify-between items-center gap-2 group-hover:flex">
          @if (displayActions) {
            <button matButton="filled" (click)="buyHandler(stock.symbol)">B</button>
            <button matButton="outlined" (click)="sellHandler(stock.symbol)">S</button>
            <button
              matIconButton
              aria-label="Remove from watchlist"
              (click)="removeFromWatchlistHandler(stock.symbol, stock.exchange)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          }
        </span>
      </span>
    </mat-list-item>
  }
</mat-nav-list>
