<cdk-virtual-scroll-viewport
  [itemSize]="ITEM_SIZE"
  (scrolledIndexChange)="onScroll()"
  class="h-[70vh] w-full"
>
  <mat-nav-list>
    <mat-list-item
      [activated]="activated(stock.symbol)"
      *cdkVirtualFor="let stock of stocks; trackBy: trackBySymbol"
    >
      <span class="flex justify-between items-center group">
        <a [routerLink]="['/watchlist/' + stock.exchange + '/' + stock.symbol]">{{
          stock.symbol
        }}</a>
        @if (stockDataMap().get(stock.symbol); as data) {
          <span class="flex justify-between items-center gap-2 group-hover:hidden">
            <p class="text-gray-500">
              {{ (data.ltp - data.last_close_price).toFixed(2) }}
            </p>
            <p
              [class.text-green-600]="data.ltp >= data.last_close_price"
              [class.text-red-600]="data.ltp < data.last_close_price"
            >
              {{ data.ltp }}
            </p>
          </span>
        } @else {
          <span class="flex justify-between items-center gap-2 group-hover:hidden text-gray-400">
            --
          </span>
        }
        <span class="hidden justify-between items-center gap-2 group-hover:flex">
          @if (displayActions) {
            <button matButton="filled" (click)="buyHandler(stock.symbol)">B</button>
            <button matButton="outlined" (click)="sellHandler(stock.symbol)">S</button>
            <button
              matIconButton
              aria-label="Remove from watchlist"
              (click)="removeFromWatchlistHandler(stock.symbol, stock.exchange)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          }
        </span>
      </span>
    </mat-list-item>
  </mat-nav-list>
</cdk-virtual-scroll-viewport>
