services:
    web:
        build:
            context: .
            dockerfile: ./Dockerfile.client
        ports:
            - 4200:4200
        depends_on:
            - server
    server:
        build:
            context: .
            dockerfile: ./Dockerfile.server
        ports:
            - 3000:3000
        environment:
            - DATABASE_URL=postgres://user:password@db:5432/gmarket
        depends_on:
            - db
    db:
        image: postgres:13
        environment:
            - POSTGRES_USER=sahil
            - POSTGRES_PASSWORD=password
            - POSTGRES_DB=gmarket
        ports:
            - 5432:5432
        volumes:
            - db_data:/var/lib/postgresql/data

volumes:
    db_data:
