<h2 mat-dialog-title>Change Password</h2>
<form [formGroup]="changePasswordForm" (ngSubmit)="changePasswordHandler()" class="w-100">
  <mat-dialog-content class="flex! flex-col gap-5">
    <mat-form-field>
      <mat-label>Old Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="oldPassword"
        placeholder="Enter your old password"
      />
      <mat-error>{{ getErrorMessage('Old Password', oldPassword?.errors) }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>New Password</mat-label>
      <input
        type="password"
        matInput
        formControlName="newPassword"
        placeholder="Enter your new password"
      />
      <mat-error>{{ getErrorMessage('New Password', newPassword?.errors) }}</mat-error>
    </mat-form-field>
    <span class="flex flex-col gap-0.5">
      <mat-form-field>
        <mat-label>Confirm New Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="confirmNewPassword"
          placeholder="Enter your new password again"
        />
        <mat-error>{{
          getErrorMessage('Confirm New Password', confirmNewPassword?.errors)
        }}</mat-error>
      </mat-form-field>
      <mat-error>
        {{ getErrorMessage('', changePasswordForm.errors) }}
      </mat-error>
    </span>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button matButton mat-dialog-close>Cancel</button>
    <button
      type="submit"
      matButton
      [mat-dialog-close]="true"
      cdkFocusInitial
      [disabled]="!changePasswordForm.valid"
    >
      Update Password
    </button>
  </mat-dialog-actions>
</form>
